### macOS ###
.DS_Store
**/.DS_Store

### IDE ###
.idea/
.vscode/
*.iml
*.ipr
*.iws

### Node ###
node_modules/
.env
dist/

### Gradle ###
.gradle/
**/build/
caches/
daemon/
native/
wrapper/
.tmp/

### Project Specific ###
**/application-dev-*.yml