HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
backend/.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Gradle Cache ###
.gradle/
**/build/
**/transforms/
**/caches/
**/daemon/
.tmp/
**/fileContent.lock
**/fileHashes.lock
**/registry.bin
**/registry.bin.lock
**/*.lock
**/gradle-api-*.jar
**/util-*.jar
**/lib-client.jar
**/instrumented/

### Application Properties ###
**/application-dev-*.yml
